@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
h2{
    text-align: center;
    font-family: 'Roboto'
}
.container{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: normal;
    padding:  2rem;
    margin:  auto;
    font-family: 'Roboto';
}

input{
    margin-bottom: 1rem;
    display: block;
    padding: auto;
}

label{
    display: block;
    padding: auto;
}

#check-button{
    display: block;
    margin-top: 1rem;
    margin: auto;
    background-color: #032121;
    color: white;
    border-radius: 5px;
    padding: 0.2rem;
    cursor: pointer;
}

.output-message{
    text-align: center;
    background-color: #032121;
    color: white;
    padding: 0.5rem;
}
